{
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "proseWrap": "preserve",
    "endOfLine": "lf",
    "importOrder": ["^@/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
