.gallery-screen {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.gallery-content {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
}

.gallery-item {
    aspect-ratio: 1;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--color-background-primary);
    transition: transform 0.2s ease-in-out;
}

.gallery-item:hover {
    transform: scale(1.03);
}

.gallery-item img,
.gallery-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item audio {
    width: 100%;
    margin-top: 50%;
    transform: translateY(-50%);
}

.gallery-loading,
.gallery-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--color-text-secondary);
    font-size: 1.2rem;
}

.gallery-filters {
    /* TODO: change back to `flex` when we will support other media types */
    display: none;
    justify-content: center;
    padding: 1rem;
    gap: 0.5rem;
    position: sticky;
    top: 0;
    z-index: 10;
    transition: box-shadow 0.2s ease-in-out;
}

.gallery-filters button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    background: var(--color-background-secondary);
    color: var(--color-text-primary);
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.gallery-filters button:hover {
    background: var(--color-primary);
    opacity: 0.8;
    color: white;
}

.gallery-filters button.active {
    background: var(--color-primary);
    color: white;
}

.gallery-separator {
    height: 4px;
}

.gallery-separator.with-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
