.screen-wrapper {
    width: 100vw;
    padding-top: calc(env(safe-area-inset-top, 15px) / 1.2);
}

.screen-wrapper-content {
    width: 100vw;
    padding-left: calc(env(safe-area-inset-left, 15px) / 1.2);
    padding-right: calc(env(safe-area-inset-right, 15px) / 1.2);
    height: calc(100vh - 62px);
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.screen-wrapper-content.avoid-bottom-nav {
    padding-bottom: var(--bottom-nav-height);
}
